<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="FILE" class="com.tealcube.minecraft.bukkit.lumberjack.shade.logback.core.FileAppender">
        <file>debug-${git.commit.id.abbrev}.log</file>
        <encoder>
            <pattern>%level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>